<p><storong>Title:</storong>
	<%= @blog.title %>
</p>
<p><storong>Body:</storong>
	
	<%= @blog.body %></p>
	<%= link_to "Edit", edit_blog_path(@blog) %>
	<span>|</span>
	<%= link_to "Back", blogs_path %>
